<div class="container-fluid muestra">
  <form action="" #orderForm="ngForm" *ngIf="clients&&products" (ngSubmit)="onSubmit(orderForm)">
    <label class="form-label">Seleccione el cliente</label>
    <select class="form-control" name="clients" #name="ngModel" [ngModel]="order?.clientId" >
      <option *ngFor="let client of clients"> {{client.name}}</option>
    </select>
    <label class="form-label">Seleccione el producto</label>
    <select class="form-control" name="product" #name="ngModel" [ngModel]="order?.ProductId" >
      <option *ngFor="let product of products"> {{product.name}}</option>
    </select>
    <label class="form-label">Introduzca la cantidad a pedir</label>
    <input class="form-control" type="number" name="quantity" #name="ngModel" [ngModel]="order?.quantity" required>
    <button class="btn btn-success mt-2 w-100" type="submit" [disabled]="!orderForm.valid">Subir</button>
    <button class="btn btn-dark mt-2 ms-2 " type="reset">Limpiar</button>
  </form>
</div>
